// variables
@import './variables';

// color
@import './colors';

// layouts
@import './layouts/footer';
@import './layouts/header';
@import './layouts/sidebar';

// pages
@import './pages/blog';

// components
@import './components/input';

// utils
// @import './utils/*';

body {
    padding: 3rem;
    font-family: 'Montserrat' !important;
    font-style: normal;

    a {
        text-decoration: none !important;
    }
}