.community {
    background: rgba(0, 0, 0, 0.26);
    padding: 3rem 0;
    min-height: 100vh;

    .col-md-3 {
        max-width: 371px !important;
    }

}


.profile {
    .card {
        padding: 0 !important;
        border-radius: 12px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.5);

        .img-top-profile {
            position: absolute;
            margin-top: -2rem;
            margin-left: 40%;
        }

        .card-body {
            padding: 0 !important;
        }

        .card-content {
            padding-top: 3rem;
            padding-bottom: 1rem;
            text-align: center;

            h4 {
                font-size: 16px;
                line-height: 17px;
                color: #000000;
            }

            p {
                font-size: 13px;
                line-height: 2px;
            }
        }

        hr {
            border-top: 1px solid rgba(0, 0, 0, 0.25) !important;
        }

        .card-content-2 {
            text-align: center;

            .card-bio,
            .card-location {
                font-size: 12px;
                line-height: 12px;
                margin-bottom: .5rem;
            }

            .bt {
                border-right: 1px solid rgba(0, 0, 0, 0.25);
            }

            .firm {
                font-size: 10px;
                line-height: 10px;
            }

            .details {
                font-size: 14px;
                line-height: 17px;
            }
        }
    }


}

.headbox {
    background: #FFFFFF;
    border-radius: 12px;
    margin-top: 1rem;

    .header {
        border-bottom: 2px solid rgba(0, 0, 0, 0.25);
        padding: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        img {
            height: 16.000001907348633px;
            width: 16.015968322753906px;
            cursor: pointer;
        }
    }


}

.trending_news {
    .col-4 {
        text-align: center;

        img {
            width: 56.56px;
            height: 46.95px;
            border-radius: 6.76212px;
        }
    }

    .col-8 {
        h3 {
            font-weight: 600;
            font-size: 13px;
            line-height: 16px;
            color: #000000;
        }

        p {
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: #000000;
        }

        .time {
            font-weight: 500;
            font-size: 12px;

            img {
                height: 20px;
                width: 20px;
            }
        }

    }

    .row {
        padding: 1rem;
        padding-bottom: 0;
    }
}

.suggestedfreinds {
    .isfollow {
        border: 1px solid #282E65;
        border-radius: 16px;
        padding: .6rem 1rem;
        border-radius: 13px;
        font-size: 12px;
        line-height: 12px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;

        &:hover,
        &:focus {
            background: #282E65 !important;
            color: white;
            border: 1px solid #282E65;
        }
    }

    .profile-img {
        height: 39px;
        width: 33px;
        border-radius: 0px;
    }

}

.img-hr {
    max-height: 6.25px !important;
    max-width: 13.75px !important;
    cursor: pointer;
}

.link-btn {
    font-weight: 600;
    font-size: 13px;
    line-height: 12px;
    color: #282E65;

    &:hover {
        border: 1px solid #282E65 !important;
        background: #282E65 !important;
        color: white;
    }
}

.community_fixtures {

    span {
        font-size: 12px;
        line-height: 15px;
        color: #000000;

    }

    img {
        max-height: 18.915048599243164px;
        max-width: 14.199136734008789px;
        border-radius: 0px;
    }

    .block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;
        justify-items: center;


    }

    padding-bottom: 1rem;
}

.postBox {
    height: 219px;
    background: #FFFFFF;
    border-radius: 12px;
    padding-top: 1.4rem;

    textarea {
        height: 125px;
        background: rgba(40, 46, 101, 0.12);
        border-radius: 6px;
        resize: none;
        width: 100%;
        padding: 1rem;

        &:focus {
            border: 1px solid #282E65 !important;
        }
    }
}

.postBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: .4rem;

    .f-img {
        img {
            margin: 0 .8rem;
            margin-left: 0;
        }
    }

    .s-img {
        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: rgba(40, 46, 101, 0.12);
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }

        .btn,
        .btn:focus,
        .btn:hover {
            width: 113px;
            height: 36px;
            background: #282E65;
            border-radius: 51px;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
            margin-left: .6rem;
        }
    }
}

.post-cards {
    .col-2 {
        text-align: center;

    }

    .col-8 {}
}