.blogcards {
    .headeline-cards {
        display: flex;
        flex-direction: row;

        .img {
            flex: 1;

            img {
                width: 617px;
                height: 367px;
                left: 100px;
                top: 736px;
                border-radius: 25px;
            }

        }



        h3 {
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;

            a {
                color: #000;

                &:hover {
                    color: $primary ;
                }
            }
        }

        p.body {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: rgba(0, 0, 0, 0.5);
            margin-top: 2rem;
            width: 100%;
        }

        p.time {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            margin-top: 3rem;

            span {
                margin-left: 1rem;
            }
        }


    }

    .tag {
        background: $primary;
        display: inline-block;
        padding: 4px 1rem;
        border-radius: 8px;
        color: #fff;
        margin-bottom: 1rem;
        text-transform: capitalize;
    }

    .detailed-cards {
        .img {
            img {
                width: 100%;
                height: 300px;

            }
        }

        p.time {
            font-size: 14px;
            margin-top: 1.6rem;

            span {
                margin-left: 0.7rem;
            }
        }

        h3 {
            font-weight: 700;
            font-size: 24px;
            line-height: 29px; 

            a {
                color: #000;

                &:hover {
                    color: $primary ;
                }
            }
        }
    }
}

.loadMore {
    text-align: center;
}