.heroInput {
    position: absolute;
    margin-top: 16rem;
    input {
        width: 628px !important;
        height: 62px !important;
        background: #FFFFFF;
        box-shadow: 15px 16px 56px rgba(15, 15, 15, 0.16);
        padding: 1rem;
    }
}