header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .logo {
        width: 204px;
        height: 53px;
        background: #D9D9D9;
        border-radius: 25px;
    }

    ul {

        a {
            color: rgba(77, 69, 0, 0.47);
            cursor: pointer;
            width: 140px;
            text-decoration: underline !important;

            &:hover,
            &:active,
            &:focus {
                color: #4D4500;
                text-decoration: underline !important;
            } 
        }

        .isactive {
            color: #4D4500; 
        }

        img {
            margin-left: -40px;
            margin-top: 19px;
            // position: absolute;
        }
    }
}